<div class="osjs-panel" data-position="top" data-ontop="true">
  <div class="osjs-panel-item" data-name="menu">
    <div class="osjs-panel-item--clickable osjs-panel-item--icon">
      <img src="https://demo.os-js.org/881c86876af63b732063d7bdd51bb226.png" alt="Menu">
      <span>Menu</span>
    </div>
  </div>
  
  <div class="osjs-panel-item" data-name="title">
    <div class="osjs-panel-item--clickable osjs-panel-item--icon">
      <a href="{{ "/" | relative_url }}" style="color:white; text-decoration:none;">{{ site.title | escape }}</a>
    </div>
  </div>

  {%- assign default_paths = site.pages | map: "path" -%}
  {%- assign page_paths = site.header_pages | default: default_paths -%}
  {%- if page_paths -%}
    {%- for path in page_paths -%}
      {%- assign my_page = site.pages | where: "path", path | first -%}
      {%- if my_page.title -%}
      <div class="osjs-panel-item" data-name="windows">
        <div data-has-image="true" class="osjs-panel-item--clickable osjs-panel-item--icon">
          <img src="https://demo.os-js.org/881c86876af63b732063d7bdd51bb226.png" alt="Window">
          <a href="{{ my_page.url | relative_url }}" style="color:white;text-decoration:none;"><span>{{ my_page.title | escape }}</span></a>
        </div>
      </div>
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}

  <div class="osjs-panel-item" data-name="tray" style="margin-left: auto;">
    <div class="osjs-panel-item--clickable osjs-panel-item--icon">
      <img src="https://demo.os-js.org/icons/GnomeIcons/icons/system-search.png" title="Search Filesystem (F3)">
    </div>
  </div>
  <div class="osjs-panel-item" data-name="clock">
    <span>00:00:00</span>
  </div>
</div>
