<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <body>
    {%- include header.html -%}
    <div id="desktop">
        {{ content }}
    </div>
    {%- include footer.html -%}
  </body>
</html>

<script>
  var postsData = [
    {% for post in site.posts %}{
      "title": {{ post.title | jsonify }},
      "url": "{{ post.url | relative_url }}",
      "date": "{{ post.date | date_to_string }}",
      "tags": {{ post.tags | jsonify }},
      "category": {{ post.category | jsonify }}
    }{% unless forloop.last %},{% endunless %}
    {% endfor %}
  ];
</script>
